<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\RegistrationForm.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>

    <authentication mode="Forms">
      <forms defaultUrl="~/downfile.aspx" loginUrl="~/default.aspx">
        </forms>
      </authentication>

  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"></directoryBrowse>
  </system.webServer>
</configuration>